@import url('https://fonts.googleapis.com/css?family=Roboto');

#id .aui-header-logo {
	color: black;
	filter: invert(100%);
} 

/* #header .aui-header { */
/*     background-color: black; */
/*     border-color: black; */
/* } */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    
    // setting font-wight to 
}

#footer {
	background-color: #23829b;
	color: white;	
}

.confluence-icon-page, .content-type-page {
    background: url(htw-icon-page.svg) no-repeat;
}
.aui-button.aui-button-primary {
	background-color: #B39048;	
}

.aui-header .aui-quicksearch input {
	border: 1px solid #cccccc;
}

.wiki-content ul {
	list-style-type: square;
}

#footer .footer-body a {
	color: white;
}

#footer-logo {
	background-color: transparent;
}